.jumbotron {
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0) 0%, rgb(230, 1, 1) 35%, rgba(209,0,0,1) 100%);
}

.nav-item {
padding: 0 10px 0 10px;
transition: .5s;
}

.nav-item:hover {
background: rgb(236, 95, 95) 100%;
}

.navbar {
    background: rgba(209,0,0,1) 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logoBox {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 35%, rgb(204, 202, 202) 100%);
    padding: 20px 40px 20px 40px;
    margin-top: 20px;
    border: solid linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 35%, rgba(240,240,240,1) 100%);
    border-radius: 5px;
}